
<template>
  <div id="campaigns" class="data-list-container">
    <vx-card>
      <vs-table ref="table" pagination :max-items="10" search :data="campaigns">

        <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

          <div class="flex flex-wrap-reverse items-center data-list-btn-container">
            <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNew">
                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                <span class="ml-2 text-base text-primary">Add New</span>
            </div>
          </div>

        </div>

        <template slot="thead">
          <vs-th sort-key="name">Name</vs-th>
          <vs-th sort-key="subject">Subject</vs-th>
          <vs-th sort-key="smtp_group">Smtp Group</vs-th>
          <vs-th>Queue</vs-th>
          <vs-th sort-key="status">Status</vs-th>
          <vs-th sort-key="created_at">Date</vs-th>
          <vs-th>Action</vs-th>
        </template>

          <template slot-scope="{data}">
            <tbody>
              <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                <vs-td>
                  <p class="product-name font-medium truncate">{{ tr.name }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-category">{{ tr.subject }}</p>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium">{{ get_smtp(tr.smtp_group) }}</p>
                </vs-td>

                <vs-td>
                  <vs-progress :percent="getStatsPercent(tr.id)" color="primary" class="shadow-md" />
                </vs-td>

                <vs-td>
                  <vs-chip :color="getStatusColor(tr.status)" class="product-order-status">{{ getStatusTag(tr.status) }}</vs-chip>
                </vs-td>

                <vs-td>
                  <p class="product-name font-medium">{{ tr.created_at }}</p>
                </vs-td>

                <vs-td class="whitespace-no-wrap">
                  <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editCampaign(tr.id)" />
                  <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click="deleteCampaign(tr.id)"/>
                </vs-td>

              </vs-tr>
            </tbody>
          </template>
      </vs-table>
    </vx-card>
  </div>
</template>

<script>

export default {
  data() {
    return {
      itemsPerPage: 4,
      isMounted: false,
    }
  },
  created(){
    if (this.campaigns.length) return;
    this.$vs.loading();
    this.$store.dispatch('getStats');
    this.$store.dispatch("getSmtps");
    this.$store.dispatch('getCampaigns')
    .then(res => {
        this.$vs.loading.close();
    });
  },
  computed: {
    currentPage() {
      if(this.isMounted) {
        return this.$refs.table.currentx
      }
      return 0
    },
    queriedItems() {
      return this.$refs.table ? this.$refs.table.queriedResults.length : this.products.length
    },
    campaigns(){
      return this.$store.getters.campaigns;
    },
    stats(){
      return this.$store.getters.stats;
    },
    smtps(){
      return this.$store.getters.smtps;
    },
  },
  methods: {
    getStatusColor(status) {
      if(status == 0) return "primary"
      if(status == 1) return "warning"
      if(status == -1) return "danger"
      if(status == 2) return "success"
    },
    getStatusTag(status) {
      if(status == 0) return "pending"
      if(status == 1) return "processing"
      if(status == -1) return "failed"
      if(status == 2) return "completed"
    },
    getStatsPercent(id){
      let data = this.stats.filter(s => s.campaign_id == id)[0];
      if (data)
      {
        let count = parseInt(((data.completed / (data.completed + data.pending)) * 100));
        return (count) ? count : 0;
      }
      else
        return 0;
    },
    editCampaign(id){
      this.$router.push({path: `/campaign/${id}`});
    },
    addNew(){
      this.$router.push({path: `/campaign/0`});
    },
    deleteCampaign(id){
      this.$store.dispatch('deleteCampaign', id)
      .then(res => {
        this.showDialog(res.data.message, 0, 'Campaign');
      });
    },
    get_smtp(id){
      if (this.smtps)
      {
        let smtp = this.smtps.filter(s => s.id == id)[0];
        if (smtp)
          return smtp.name
      }
      return 'None';
    }
  },
  mounted() {
    this.isMounted = true;
    window.Echo.channel("status-channel").listen(".status", e => {
      this.$store.commit("UPDATE_CAMPAIGN_STATUS", e.campaign);
    });
    window.Echo.channel("stats-channel").listen(".new-stats", e => {
      this.$store.commit("SET_CAMPAIGN_SPEC_STATS", e.stats);
    });
  },
  filters: {
    date(val){
      return moment(val).format('MMMM Do YYYY');
    }
  }
}
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {

    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
